html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: aqua;
}
body {
    background:url('/day01/code/assets/images/login_bg.jpg') no-repeat;
    background-size: cover;

}
.header {
    padding-top: 20px;
}